{% extends 'base.html' %}

{% load static %}

{% block content %}
<script type="text/javascript" src="{% static 'js/searchPlace.js' %}"></script>
<div id="locationField">
  <input id="autocomplete"
         placeholder="Enter your address"
         onFocus="geolocate()"
         type="text"/>
</div>

<!-- Note: The address components in this sample are typical. You might need to adjust them for
           the locations relevant to your app. For more information, see
     https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
-->


<p id="demo"></p>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endblock content %}