{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'js/searchPlace.js' %}"></script>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 registration-form">
          <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Add a place!</legend>
            </fieldset>
            <p>SEARCH FOR LOCATION:</p>
            <input id="autocomplete"
                   placeholder="Enter your address"
                   onFocus="geolocate()"
                   type="text"
                   class="form-group"
                   style="width:100%"/>
            Please copy and paste in WHERE the given location:<p id="demo"></p>
            <div id="locationField" class="form-group">
              {{ form|crispy }}
            </div>
            <div>
              <button type="submit" value="Submit" class="btn btn-outline-info">Add</button>
            </div>
            </form>
        </div>
      <div class="col-md-4"></div>
    </div>
  </div>


<!-- Note: The address components in this sample are typical. You might need to adjust them for
           the locations relevant to your app. For more information, see
     https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
-->
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&libraries=places&callback=initAutocomplete"
        async defer></script>
{% endblock content %}